<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBManagementSystem.Properties.Settings.ConnectionString" connectionString="Data Source=WINDELL-FKDK3HB\SQLEXPRESS;Persist Security Info=True;User ID=sa;Password=oracle" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
